#donationPost {
  width: fit-content;
  background-color: bisque;
  border: 13px solid gray;
  padding: 2%;
  border-radius: 3%;
}
#donation_list {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 10px;
  height: 100vh;
  padding: 1%;
}

.navbar {
  border-right: 1.5px solid white;
  height: 100vh;
  width: auto;
  color: azure;
}

.postdonation {
  padding-right: 1%;
  margin-bottom: 1%;
}
.addButton {
  padding-top: 6%;

  align-content: center;
}
.app {
  display: flex;
  background-color: rgb(17, 16, 16);
  background-size: cover;
  height: 250vh;
}
.table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
