#donationPost {
  width: fit-content;
  background-color: bisque;
  border: 13px solid gray;
  padding: 2%;
  border-radius: 3%;
}
#donation_list {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 10px;
  height: 100%;
  padding: 1%;
  padding-left: 2%;
}

.navbar1 {
  border-right: 2px solid white;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

.postdonation {
  padding-right: 1%;
  margin-bottom: 1%;
  margin: auto;
}
.addButton {
  padding-top: 6%;

  align-content: center;
}

.container1 {
  margin-left: 160px;
  background-color: black;
  background-size: cover;
  height: 100%;
}

.table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
.app {
  display: flex;
  background-color: black;
  background-size: cover;
}
